:root {
    --white: #fff;
    --black: #000000;
}




* {
    box-sizing: border-box;
}


body {
    margin: 1rem;
    padding: 0;
    font-family: "Martel", serif;
    font-size: 1.2rem;
    line-height: 1.4;
    background: var(--white);
    color: var(--black);
    /*text-transform:uppercase;
    background:#151515;
    min-height: 100vh;
    display: flex;*/
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    text-align: center;


}

main {
    height: 100vh;
}



.navbar-menu {
    display: none;
    position: sticky;
}


title {
    height: 50px;
    overflow: hidden;
    margin: 100px auto 20px;


}

.title h1,
h2 {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-weight: 900;
    margin: 0;
    height: 50px;
    line-height: 50px;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    transition: margin-top 0.3s ease;
    max-width: 30em
}

h1 {
    color: #444;
    width: 100%;
    font-size: 4rem;
    font-weight: bolder;
    position: relative;
    width: 1000px;
}

/*div.words {
    width: 800px;
}*/

h2 {
    color: #f9fcf6;
    position: relative;
    font-weight: bolder;
    width: 80%;
    font-size: 3rem;
    display: initial;
    align-items: left;




}

h2 span {
    color: #ffffff;
    display: none;

}

h3 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 1;
    left: 0.5rem;
    font-family: "Martel", serif;
    padding-left: 1rem;
    margin-top: 108px;
    text-align: left;
    max-width: 30em;
    margin: 1;


}

h3>span {
    font-size: small;
    text-align: left;
    margin: 0;
}

h4>span {
    color: red;
    font-size: small;
    text-align: left"  

}

h4 {
    color: red;
    font-size: larger;
    text-align: center;
}



/* tag buttons under header*/
.button1 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    padding: 1em;
}

.button1 a {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    background-color: #f8f4f4;
    display: block;
    position: relative;
    padding: 2px 10px;

}



p {
    font-family: "Martel", serif;
    font-weight: 400;
    font-size: 1rem;
    padding-left: 1rem;
    left: 1rem;
    right: 1rem;
    margin-top: 0.5rem;
    justify-content: center;
    /*max-width: 882;*/
    text-align: left;
    max-width: 30em
}


header {
    height: 100vh;
    height: 100vh;
    max-height: 1080px;
    position: relative;

    background-color: darkgrey;
    background-image: url("images/TheValleyTopIMG.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

nav {
    position: relative;
    display: flex;
    width: 100%;
    padding: 0 1rem;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(126, 126, 126);
}

header nav .site-nav {
    height: 100%;


}


header nav .site-nav div {
    height: 3px;
    width: 40px;
    margin: 0.5rem;
    background-color: white;
}

header .title {
    position: absolute;
    bottom: 2rem;
    left: 1rem;
}

svg {
    position: relative;
    height: 50px;
    padding: 1rem 0 0.5rem 0;
}



/*picture slider section*/
.container-slider {

    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;

}

.container-slider article {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    scroll-snap-align: center;


}





/* OPTION 3 start infinity slider*/

.slide-track {
    overflow: hidden;
    display: flex;
    height: 500px;
    /*width: 1500px;*/
    margin: 0 auto;

}

.slide-track div {
    height: 400px;
    min-width: 300px;
    margin-left: 100px;
    animation: slide 15s linear infinite;

}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }

    33% {
        transform: translate3d(-375px, 0, 0);

    }

    66% {
        transform: translate3d(-750px, 0, 0);
    }

    100% {
        transform: translate3d(-1000px, 0, 0);
        /* The image width */
    }
}







/*end infinty slider*/

/* CONTACT US SECTION*/
.img-container {
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
    margin: 0;
    background-color: rgb(245, 252, 255);

}

.contact-container {
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
    background-color: rgb(245, 252, 255);
    overflow-y: hidden;

}

button {
    font: inherit;
    background: rgb(230, 6, 6);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: .4em 3em;
    cursor: pointer;
    border-radius: 1em;
}

label {
    display: block;
    margin: 5px 0;
    text-align: left;
    color: rgb(128, 128, 128);
}


#subject {
    width: 80%;




}

dialog {
    /* overflow-y: hidden; */
    padding: 0px 25px 25px -50px;
}

dialog::backdrop {
    background: rgba(172, 169, 169, 0.753);
    backdrop-filter: blur(5px);
}

h5 {
    font-size: larger;
    text-align: left;

}

h6 {

    text-align: left;
    font-weight: bold;
    font-size: medium;


}


.btn-contact {

    padding: 16px 42px;
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
    line-height: 1.25;
    background: #cf2300;
    text-decoration: none;
    color: white;
    font-size: 16px;
    letter-spacing: .08em;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    border-radius: 3rem;
}

/* pop up contact form*/

.popup>h2 {
    text-align: center;
}

.popup>span {
    text-align: center;
}

.popup {
    /* width: 100px; */
    top: 50%;
    left: 50%;

    color: black;
    background: rgb(255, 251, 251);
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    align-items: center;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;

}


.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    position: fixed;

}

.popup img {
    width: 80px;
    margin-top: -50px;
    border-radius: 50%;

}




/*FOOTER*/

.site-footer {
    background-color: rgb(51, 51, 51);
    color: white;

}

h6 {
    text-align: left;
    padding-left: 1rem;

}

.col-1>svg {
    align-items: left;
}





@media screen and (min-width: 600px) {
    header .title {
        left: 0%;

    }

    svg {
        left: 5%;

    }

    nav {
        padding: 0 5%;
    }

    h2 {
        left: 5%;
    }

}

@media screen and (min-width: 769px) {}