:root {
    --white: #fff;
    --black: #000000;
}




* {
    box-sizing: border-box;
}


body {
    margin: 1rem;
    padding: 0;
    font-family: "Martel", serif;
    font-size: 1.2rem;
    line-height: 1.4;
    background: var(--white);
    color: var(--black);
    /*text-transform:uppercase;
    background:#151515;
    min-height: 100vh;
    display: flex;*/
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    text-align: center;

}

main {
    height: 100vh;
}



.navbar-menu {
    display: none;
    position: sticky;
}


title {
    height: 50px;
    overflow: hidden;
    margin: 100px auto 20px;


}

.title h1,
h2 {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-weight: 900;
    margin: 0;
    height: 50px;
    line-height: 50px;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    transition: margin-top 0.3s ease;

}

h1 {
    color: #444;
    width: 100%;
    font-size: 4rem;
    font-weight: bolder;
    position: relative;
    width: 1000px;
}

/*div.words {
    width: 800px;
}*/

h2 {
    color: #f9fcf6;
    position: relative;
    font-weight: bolder;
    width: 80%;
    font-size: 3rem;
    display: initial;
    align-items: left;




}

h2 span {
    color: #ffffff;
    display: none;

}

h3 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 1;
    left: 0.5rem;
    font-family: "Martel", serif;
    padding-left: 1rem;
    margin-top: 108px;
    text-align: left;

}

.button1,
.button2,
.button3,
.button4 {
    align-items: center;
    background-color: #f7f7f7;
    border-radius: 1;
    color: #222;
    height: 2em;
    font-size: 1rem;
    line-height: 1.5;
    white-space: nowrap;
    border: none;
    align-items: center;
}

p {
    font-family: "Martel", serif;
    font-weight: 400;
    font-size: 1rem;
    padding-left: 1rem;
    left: 1rem;
    right: 1rem;
    margin-top: 0.5rem;
    justify-content: center;
    max-width: 882;
    text-align: left;
}


header {
    height: 100vh;
    height: 100vh;
    max-height: 1080px;
    position: relative;

    background-color: darkgrey;
    background-image: url("images/TheValleyTopIMG.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

nav {
    position: fixed;
    display: flex;
    width: 100%;
    padding: 0 1rem;
    align-items: center;



    justify-content: space-between;

    background-color: rgb(126, 126, 126);
}

header nav .site-nav {
    height: 100%;


}


header nav .site-nav div {
    height: 3px;
    width: 40px;
    margin: 0.5rem;
    background-color: white;
}

header .title {
    position: absolute;
    bottom: 2rem;
    left: 1rem;
}

svg {
    position: relative;
    height: 50px;
    padding: 1rem 0 0.5rem 0;
}




.container-slider {

    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

.container-slider article {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    scroll-snap-align: center;

}



/* OPTION 2 slider info boxes in paragrapgh*/

/*.info-box1 {
    background: var(--black);
    color: var(--white);
    margin-left: 1.2rem;
    max-width: 21rem;
    padding: 1rem;
    margin-top: 1rem;
}

.info-box2 {
    background: var(--black);
    color: var(--white);
    margin-left: 1.2rem;
    max-width: 21rem;
    padding: 1rem;
    margin-top: 1rem;
}


.info-box3 {
    background: var(--black);
    color: var(--white);
    margin-left: 1rem;
    max-width: 21rem;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}*/


/* OPTION 3 start infinity slider*/

.slide-track {
    overflow: hidden;
    display: flex;
    height: 500px;
    width: 1500px;
    margin: 0 auto;
}

.slide-track div {
    height: 400px;
    min-width: 300px;
    margin-left: 100px;
    animation: slide 15s linear infinite;
}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }

    33% {
        transform: translate3d(-375px, 0, 0);

    }

    66% {
        transform: translate3d(-750px, 0, 0);
    }

    100% {
        transform: translate3d(-1000px, 0, 0);
        /* The image width */
    }
}







/*end infinty slider*/


.img-container {
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;

}




@media screen and (min-width: 600px) {
    header .title {
        left: 0%;

    }

    svg {
        left: 5%;

    }

    nav {
        padding: 0 5%;
    }

    h2 {
        left: 5%;
    }

}

@media screen and (min-width: 769px) {}